/* $Id$ */

/* @override http://drh.local/sites/all/themes/custom/drh_jensen/drh_jensen.css */

/* @group Basic elements */

body {
  font-family: "Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 80%;
}

a {
  color: #666;
  text-decoration: none;
}
a.active {
  font-weight: bold;
}
.pane-node-body a {
  color: #009;
}
.pane-node-body a:hover {
  border-bottom: 1px solid #009;
}

h2.pane-title {
  font-size:1.2em;line-height:1.25;margin-bottom:1.25em;
}

hr {
  width: 940px;
  border: 0;  
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 20px;
}
hr.panel-separator {
  margin-top: 7px;
  margin-bottom: 20px;
}

tbody {
  border-top: none;
}
thead th {
  border-bottom: none;
  background: #000;
  color: #fff;
}
tr.even td {
  background: #fafafa;
}
tr.region {
  border-bottom: 1px solid #ccc;  
}

/* @end */

/* @group Navigation */

#navigation .container-16 ul {
  background-color: #333;
  text-align: right;
}
#navigation ul {
  padding: 3px 9px 3px 0;
}
#navigation li {
  padding: 0;
}
#navigation li a {
  padding:  0 .5em 0 .5em;
  color: #eee;
}
#navigation li a:hover {
  color: #fff;
}
#navigation li.last a {
  padding:  0 0 0 .5em;
}
#navigation li.active-trail a {
  font-weight: bold;
  color: #fff;
}

/* @end */

/* @group Header */

#header {
  margin-top: 16px;
}
#site-name, #page-title {
  display: inline;
  margin-bottom: 0;
  font-size: 2em;
  text-transform: uppercase;
}
#site-name {
  font-weight: bold;
}
#site-name a {
  color: #999;
}
#page-title {
  margin-left: .25em;  
  color: #333;
}

/* @end */

/* @group Front page */

.front .view-news h2 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
}
.front .view-news .date-display-single {
  color: #ccc;
}

/* teaser nodes */
.front .teasers {
  margin-top: 20px;
}
.front .teaser {
  position: relative;
  height: 265px;
}
.front .teaser div.field-field-image-front-off {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}
.front .teaser div.field-field-image-front-on {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.front .teaser h2 {
  z-index: -1;
  font-size: 1.2em;
  line-height: 1.25;
  margin-top: 10px;
  margin-bottom: 1.25em;
  text-align: center;
}
.front .teaser p {
  position: absolute;
  top: 3.5em;
  left: 20px;
  z-index: -3;
}

/* images at the bottom of the page */
.front .view-images .views-row {
  float: left;
  margin-left: 2px;
}
.front .view-images .views-row-first {
  margin-left: 0;
}

/* @end */

/* @group Tabs */

ul.primary {
  margin: 0 0 21px 0;
  padding: 5px 0;
  border: none;
}
ul.primary li a {
  margin-right: 6px;
  padding: 5px 1em;
  background-color: #090;
  color: #fff;
  border: 1px solid #090;
  font-size: 1.2em;
}
ul.primary li a:hover {
  background-color: #fff;
  border-color: #090;
  color: #090;
}
ul.primary li.active a {
  border: 1px solid #090;
  color: #090;
}

/* @end */

/* @group Node */

.page-node .view-images .views-row {
  float: left;
  margin-left: 2px;
}
.page-node .view-images .views-row-first {
  margin-left: 0;
}
.page-node .view-images .views-row {
  height: 86px;
}

/* @end */

/* @group Footer */

#footer-message {
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 4em;
}

/* @end */

/* @group Node add/edit form */

/**
 * use border instead of underline for links, and make the field description a
 * little less noisy
 */
.node-form a {
  padding-bottom: 1px;
  border-bottom: 1px dotted #666;
}
.node-form a:hover {
  border-style: solid;
}
.node-form a.tabledrag-handle {
  border: none;
}
.node-form .description {
  color: #999;
}

.form-region-footer {
  padding: 2em 0;
}

/* @group 960 */

/* make the form column align to the grid */
.node-form-has-region-right .form-region-main {
  display: relative;
  float: left;
  width: 460px;
  margin-right: 10px;
}
.node-form .form-region-right {
  display: relative;
  float: left;
  width: 220px;
  margin-left: 10px;
}

/* @end */

/* @group Widgets */

/* add a border and some whitespace between the fieldsets */
html.js .node-form fieldset {
  padding: 0;
}
html.js .node-form fieldset {
  border-top: 1px solid #666;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
  background-color: #fafafa;
}
html.js .node-form fieldset.collapsed {
  border-bottom-width: 1px;
  background-color: #f0f0f0;
}

/* move the legend into the fieldset */
html.js .node-form fieldset.collapsible legend span,
html.js .node-form fieldset.collapsed legend span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
html.js .node-form fieldset.collapsed {
  height: 21px;
}

/* remove default arrows from legend and add them to the span instead */
html.js .node-form fieldset.collapsible legend a,
html.js .node-form fieldset.collapsed legend a {
  background: none;
  padding-left: 0;
  font-weight: bold;
}
html.js .node-form fieldset.collapsible legend span {
  background: transparent url(images/menu-expanded.png) no-repeat scroll 4px 65%;
  padding-left: 15px;
}
html.js .node-form fieldset.collapsed legend span {
  background-image: url(images/menu-collapsed.png);
  background-position: 4px 50%;
}

/* add some whitespace between the legend and the first form element */
html.js .node-form .fieldset-wrapper .form-item:first-child {
  padding-top: 1em;
}

/* fixes for the foreground/background image widget */
html.js .node-form .group-images .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
html.js .node-form .group-images .filefield-element {
  margin-top: 0;
}
#edit-field-image-front-on-0-ahah-wrapper {
  padding-top: 1em;
  margin-left: 15px;  
}
#edit-field-image-front-off-0-wrapper {
  padding-top: 0;
  margin-left: 15px;  
}

/* fixes for the image and link widgets */
html.js .node-form .group-files .content-multiple-table,
html.js .node-form .group-images .content-multiple-table,
html.js .node-form .group-links .content-multiple-table {
  margin-top: 2em;
  margin-bottom: 1em;
}
html.js .node-form .group-files .form-submit,
html.js .node-form .group-links .form-submit,
html.js .node-form .group-images .form-submit {
  margin-bottom: 1em;
}
html.js .node-form .group-files .fieldset-wrapper .form-item:first-child,
html.js .node-form .group-images .fieldset-wrapper .form-item:first-child,
html.js .node-form .group-links .fieldset-wrapper .form-item:first-child {
  padding-top: 0;
}
html.js .node-form .group-files .filefield-element {
  margin: 0;
}

/* fixes for the from and to date widgets */
.group-from-to legend {
  display: none;
}
html.js .node-form fieldset.group-from-to {
  margin-top: 1em;
  border: none;
}
html.js .node-form fieldset.group-from-to .container-inline-date {
  float: left;
  clear: none;
  margin-right: 0;
  margin-left: 0;
}

/* fixes for the url redirects widget */
html.js .node-form .path-redirect .description {
  margin-top: 2em;
}

/* increase width of form elements */
.form-region-main .form-text,
.form-region-main .text,
.form-region-main .resizable-textarea {
  width: 458px;
}
.form-region-main .group-images .form-autocomplete {
  width: 353px;
}
#edit-title {
  width: 454px;
}
.form-region-right .form-text {
  width: 214px;
}
.form-region-right .form-autocomplete {
  width: 216px;
}
.form-region-right .resizable-textarea,
.form-region-right .resizable-textarea .grippie {
  width: 218px;
}
#edit-menu-parent {
  width: 220px;
}

#edit-field-course-ref-nid-nid-wrapper,
#edit-field-image-0-wrapper,
#edit-field-map-0-value-wrapper {
  margin-left: 15px;
}
#edit-field-course-ref-nid-nid-wrapper label,
#edit-field-image-0-wrapper label,
#edit-field-map-0-value-wrapper label {
  display: none;
}
#edit-field-map-0-value {
  width: 439px;
}

.pop-tags {
  margin-bottom: 7px;
}

/**
 * hide the "split summary at cursor" button
 * hide filter tips
 */
.node-form .teaser-checkbox,
.node-form ul,
.node-form p {
  display: none;
}

/* show all date pickers on a single row */
.node-form .container-inline-date {
  float: left;
  clear: none;
  margin-right: 0;
  margin-left: 15px;
}
.node-form .container-inline-date:last-child {
  margin-right: 0;
}

.node-form #edit-field-date-0-value-datepicker-popup-0,
.node-form #edit-field-date-0-value2-datepicker-popup-0,
.node-form #edit-field-created-0-value-datepicker-popup-0,
.node-form #edit-field-updated-0-value-datepicker-popup-0 {
  width: 9em;
  margin-bottom: 1em;
}
.node-form #edit-field-date-0-value-datepicker-popup-0,
.node-form #edit-field-date-0-value2-datepicker-popup-0 {
  margin-bottom: 0;
}
.node-form #edit-field-date-0-value-timeEntry-popup-1,
.node-form #edit-field-date-0-value2-timeEntry-popup-1,
.node-form #edit-field-created-0-value-timeEntry-popup-1,
.node-form #edit-field-updated-0-value-timeEntry-popup-1 {
  width: 4em;
}
.node-form .fieldset-wrapper .container-inline-date {
  padding-top: 1em;
}
.container-inline-date .description {
  display: none;
}

/* hide grippie on notes field */
#edit-field-notes-0-value-wrapper .grippie,
#edit-field-notes-0-value-wrapper label {
  display: none;
}

/* @end */

/* @end */

/* @group Blocks */

/* @group Markdown filter tips */

.pane-markdown-help {
  border-top: 1px solid #666;
}
.pane-markdown-help h2 {
  font-size: 100%;
  font-weight: bold;
  color: #666;
  margin-top: 1px;
  margin-bottom: 11px;
}
.pane-markdown-help pre {
  font-size:  80%;
}

/* @end */

/* @end */

/* fix fieldsets on other forms */

html.js fieldset.collapsible legend a span {
  display: block;
}

/* fix page manager menu */

#page-manager-edit {
  margin-top: 0;
}
#page-manager-edit .page-manager-edit-operations ul {
  margin-right: 0px;
}

/* @group Markdown filter tips */

#admin-menu {
  background: #090;
}
#admin-menu li a {
  border-left: none;
  border-right: 1px solid #070;
}
#admin-menu li.admin-menu-action a {
  border-left: 1px solid #070;
  border-right: none;
}
#admin-menu li.expandable.admin-menu-icon a {
  padding: 4px 8px;
  font-weight: bold;
}

/* @end */


ul.menu {
  padding-left: 0;
  padding-bottom: .25em;
  margin-right: 0;
  background-color: #f0f0f0;
  border: none;
}
ul.menu li {
  margin-left: .5em;
  list-style: none;
}

/* front page */

#welcome p {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
.front .view-footer p {
  text-align: right;
}

.front .images {
  margin-top: 20px;
}



.grid-4 .views-field-field-image-fid {
  float: left;
  margin-right: 10px;
}

/*
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
*/
